
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(reportId) {
      return request.auth.uid == get(/databases/$(database)/documents/occurrence_reports/$(reportId)).data.userId;
    }
    
    // Regra para Relatórios de Ocorrência
    match /occurrence_reports/{reportId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if false; 
    }

    // Regra para Relatórios de Serviço
    match /service_reports/{reportId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }

    // Regra para Talões (Summons)
    match /summons/{summonsId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
