
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 28% 90%;
    --foreground: 207 100% 14%;

    --card: 206 28% 95%;
    --card-foreground: 207 100% 14%;

    --popover: 206 28% 95%;
    --popover-foreground: 207 100% 14%;

    --primary: 210 90% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 207 40% 70%;
    --secondary-foreground: 207 100% 14%;

    --muted: 207 30% 85%;
    --muted-foreground: 207 20% 45%;

    --accent: 0 65% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 207 40% 40%;
    --input: 207 30% 75%;
    --ring: 210 90% 45%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;

    --sidebar-background: 207 100% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 207 100% 14%;
    --sidebar-accent: 207 100% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 207 100% 20%;
    --sidebar-ring: 207 100% 14%;
  }

  .dark {
    --background: 207 100% 5%;
    --foreground: 206 28% 90%;

    --card: 207 100% 10%;
    --card-foreground: 206 28% 90%;

    --popover: 207 100% 5%;
    --popover-foreground: 206 28% 90%;

    --primary: 210 90% 55%;
    --primary-foreground: 207 100% 14%;

    --secondary: 207 40% 30%;
    --secondary-foreground: 206 28% 90%;

    --muted: 207 40% 20%;
    --muted-foreground: 207 20% 65%;

    --accent: 0 65% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 207 40% 30%;
    --input: 207 40% 25%;
    --ring: 210 90% 55%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 207 100% 5%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 207 100% 14%;
    --sidebar-accent: 207 100% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 207 100% 15%;
    --sidebar-ring: 206 28% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer components {
    .print-subsection {
      @apply mt-4;
    }
    .print-subsection-title {
        @apply flex items-center gap-2 text-sm font-semibold mb-2 text-primary;
    }
}
