name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Instale suas dependências, se necessário
      - name: Install dependencies
        run: npm ci

      - name: Write Firebase service account key to file
        run: echo "${FIREBASE_SERVICE_ACCOUNT}" > "${GITHUB_WORKSPACE}/service-account.json"

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting --project <nome-do-seu-projeto> --token "$(cat ${GITHUB_WORKSPACE}/service-account.json)"
